<%= render 'shared/header'  %>

<div class="main">

  <div class="new-house">
    <%= link_to 'あたらしいHouseをつくる', new_house_path %>
  </div>

  <div class="houses-list">
    <div class="house-index">House一覧</div><br/>
    <% @houses.each do |house| %>
      <div class="house">
        <div class="house-left">
          <div class="house-left-top">
            <div class="house-name">
              <%= link_to house.name, edit_house_path(house) %>
            </div>
            <div class="house-members">
              <%= house.users.count %>人
            </div>
          </div>
          <div class="house-introduce">
            <%= house.introduction %>
          </div>
        </div>
        <div class="house-right">
          <div class="join-house">
            <%= link_to '参加', house_join_path(house) %>
          </div>
          <div class="delete-house">
            <%= link_to '退会', house_path(house), method: :delete %>
          </div>
          <div class="delete-house-all">
            <%= link_to '削除', house_all_destroy_path(house), method: :delete %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
